<h1>user sign up form here</h1>
<ul>
<% if flash[:error] %>
<li style="color:red;"><%= flash[:error] %></li>
<% end %>
</ul>

<%= form_for @user, controller: 'users', action: 'create' do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :password %>
<%= f.password_field :password %>
  
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>

<%= f.submit "create" %>

<% end %>